@model PRN211_HE170436_Project.Models.Billing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Billing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingFistName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingFistName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BillingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
